/* Modal positioning */

.bbm-wrapper {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 100px 10px;
    overflow: hidden;
    background: #000000;
    background: rgba(0, 0, 0, 0.75);
}
  .bbm-wrapper * {
    box-sizing: border-box; }

.bbm-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  max-width: 1000px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.bbm-views {
  width: 100%;
  box-sizing: border-box; }

:fullscreen {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
z-index:2147483647;
background:black;
width:100%;
height:100%;
}
