@charset "utf-8";
body {
   overflow: auto;
}

.l {
    float: left;
}

.r {
    float: right;
}

.cl {
    clear: both;
}

img {
    border: 0;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tdl {
    text-decoration: underline;
}

.ga {
    color: #aaaaaa
}

.g0 {
    color: #000;
}

.g3 {
    color: #333;
}

.g6 {
    color: #666;
}

.g9 {
    color: #999;
}

.r3 {
    color: #f30;
}

.wf {
    color: #fff;
}

.rd {
    color: #d21b2b;
}

.vm {
    vertical-align: middle;
}

.vtb {
    vertical-align: text-bottom;
}

.vt {
    vertical-align: top;
}

.vn {
    vertical-align: -2px;
}

.ml2 {
    margin-left: 2px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.pl2 {
    padding-left: 2px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr2 {
    padding-right: 2px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pb2 {
    padding-bottom: 2px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.f0 {
    font-size: 0;
}

.f9 {
    font-size: 9px;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.fa {
    font-family: Arial, Helvetica, sans-serif;
}

.my {
    font-family: Microsoft Yahei;
}

.fix {
    zoom: 1;
}

.fix:after, .fix:before {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    -moz-stack-inline: inline-block;
    display: inline-block;
}

.di {
    display: inline;
}

.none {
    display: none ;
}

.visible {
    visibility: hidden;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tooltip-title{word-break: break-all;color:white;margin:4px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*white-space:nowrap;}
.tooltip-detial{color:gray; margin:3px 0;}
.tooltip-detial span{ text-align: left;width: 65px;display: inline-block;line-height: 20px;}
.tooltip-detial dt{ color: white;}