@charset "utf-8";

/*

属性书写顺序
[建议] 同一 rule set 下的属性在书写时，应按功能进行分组，并以
    Formatting Model（布局方式、位置） > Box Model（尺寸） > Typographic（文本相关） > Visual（视觉效果）
    的顺序书写，以提高代码的可读性。

解释：

    Formatting Model 相关属性包括：position / top / right / bottom / left / float / display / overflow 等
    Box Model 相关属性包括：border / margin / padding / width / height 等
    Typographic 相关属性包括：font / line-height / text-align / word-wrap 等
    Visual 相关属性包括：background / color / transition / list-style 等

*/

body {
    background: #292929;
}

/*头部*/
.regs-header {
    margin: 0 auto;
    height: 65px;
    background-color: #181818;
}
/*头部线束*/
.regs-header .logo {
    float: left;
    margin-left: 20px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 450px;
    height: 60px;
    background: url("../images/mcloud/logo.png") no-repeat scroll left center transparent;
}

.regs-header .nav {
    float: right;
    height: 65px;
    width: 200px;
    line-height: 90px;
    text-align: right;
    vertical-align: middle;
}

.regs-header .nav a {
    margin-right: 20px;
    font-size: 14px;
    color: #D1CFCF;
}
.regs-header .nav a:hover {
    text-decoration: underline;
}
.regs-info {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    border: 1px solid #444;
    padding: 0 15px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.title-font {
    font-family: "微软雅黑";
    font-weight: bold;
}

.regs-main {
    margin: 0 auto;
    width: 100%;
}

.region {
    width: 500px;
    margin: 0 auto;
}

.region h1 {
    text-align: center;
    font: 30px/90px "Microsoft Yahei";
    color: #FFF;
}
.region .form-group {
    margin-bottom: 30px;
    height: 40px;
}
.region .form-group:last-child {
    margin-bottom: 10px;
    height: 43px;
}
.region label {
    float: left;
    height: 40px;
    width: 70px;
    text-align: right;
    font: 16px/40px "Microsoft Yahei";
    color: #FFF;
    display: block;
}

.region input {
    box-shadow: none;
}

.region input[type="text"],
.region input[type="password"]
{
    display: inline-block;
    width: calc(100% - 4px);
    height: 36px;
    border: 2px solid #353131;
    text-indent: 1em;
    color: #AAA;
    background-color: #1F1E1E;
}

.region .w200 { width: 200px; }

.region .w300 { width: 300px; }

.region .w400 { width: 400px; }

.region .hidden {
    display: none !important;
    visibility: hidden !important;
}
.form-group div {
    float: left;
    position: relative;
    margin-left: 30px;
    width: 400px;
    height: 100%;
}
.form-group span {
    position: absolute;
    top: 10px;
    right: -200px;
    display: block;
    width: 150px;
    height: 25px;
    padding-left: 30px;
    line-height: 25px;
    font-weight: bold;
    font-family: "微软雅黑";
    color: #a02a2a;
}
.form-group .btn-center {
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.form-group .success {
    background: url(../images/usercenter/33.png) no-repeat scroll left center;
}

.form-group .error {
    background: url(../images/usercenter/11.png) no-repeat scroll left center;
}
#verificationCode {
    width: 226px;
}
#verifyCodeSend {
    display: inline-block;
    width: 150px;
    height: 36px;
    margin-left: 20px;
    font-size: 14px;
    border: none;
    background: none repeat scroll 0 0 #047281;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#verifyCodeSend.disabled {
    background: none repeat scroll 0 0 #2F3131;
    color: #B2B2B2;
}
#register {
    border: none;
    padding-left: 0;
    width: 180px;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: Microsoft Yahei;
    font-weight: bold;
    background-color: #047281;
    cursor: pointer;
    color: #FFF;
}
