<td width="5%">
    <span class="icon-btn-device">
        <span class="ico"></span>
    </span>
</td>
<td width="35%">
        {{#if name}}
            {{{name}}}
        {{else}}
            unknown
        {{/if}}
</td>
<td width="35%">
    {{creatorCode}} 在 {{createTime}} 创建
</td>
<td width="10%">
    {{sequenceCount}} 个片段
</td>
<td width="15%">
    <span class="enter-cut control shengyue_enter js-entercut" title="进入剪切"></span>
    <span class="edit-cut control js-editcut" title="修改剪切信息"></span>
</td>