<td width="5%">
    <span class="icon-btn-device">
        <span class="ico"></span>
    </span>
</td>
<td width="25%">
    <p>
        {{#if entityName}}
            {{entityName}}
        {{else}}
            unknow
        {{/if}}
    </p>
    <i>{{createTime}}</i>
</td>
<td width="33%">
    <dl class="-tm-cut-form">
        <dt class="transform_{{sourceFileType}} -tm-form code-rate">
            {{#if sourceFileType}}
                {{sourceFileType}}
            {{else}}
                未知
            {{/if}}
        </dt>
        <dt class="-tm-size code-rate">{{sourceImageWidth}}*{{sourceImageHeight}}</dt>
        <dt class="trans-arrow code-rate"></dt>
        <dt class="transform_{{targetFileType}} -tm-mav code-rate">
            {{#if targetFileType}}
                {{targetFileType}}
            {{else}}
                未知
            {{/if}}
        </dt>
        <dt class="-tm-size code-rate">{{targetImageWidth}}*{{targetImageHeight}}</dt>
    </dl>
</td>
<td width="5%">
    {{#if targetFileLength}}
        {{targetFileLength}}
    {{else}}
        未知
    {{/if}}
</td>
<td width="5%">
    {{#equal status 1}}
        {{targetFileSize}}
    {{else}}
        未知
    {{/equal}}
</td>
<td width="15%">
    {{#equal status 1}}
        <span class="success-transcode control shown"></span>转码完成
    {{/equal}}
    {{#equal status 0}}
        <span class="loading-transcode control shown"></span>正在转码
    {{/equal}}
    {{#equal status -1}}
        <span class="fail-transcode control shown"></span>转码失败
    {{/equal}}
</td>
<td width="27%">
    {{#equal status 1}}
        <span class="download-transcode control js-download">

        </span>
        <span class="delete-transcode control js-delete">

        </span>
    {{else}}
        <span class="error-transcode control js-error">

        </span>
        <span class="renewal-transcode control js-renewal">

        </span>
        <span class="delete-transcode control js-delete">

        </span>
    {{/equal}}
</td>
