<div class="control-button">
    <span class="icon-btn-device js-selectall">
        <span class="ico"></span>
        <span id="toggle-all">全选</span>
    </span>
    <p class="cancel-btn none js-delete">
        <span class="ico"></span>
        <span>批量删除</span>
    </p>
    <!--<p class="cancel-btn none js-cancel">
        <span class="icoc"></span>
        <span>批量删除</span>
    </p>-->
</div>
<div class="create-time js-createtime">
    <a class="name js-name" data-sort="createTime">按照创建时间  ↑</a>
    <span style="float:right;">∨</span>
    <div class="create-time-display">
        <ul>
            <li class="js-createTime-up" data-state="up">按照创建时间  ↑</li>
            <li class="js-createTime-down" data-state="down">按照创建时间  ↓</li>
        </ul>
    </div>
</div>
<div class="create-time all-state js-allstate">
    <a class="name js-name" data-sort="state">所有状态</a>
    <span style="float:right;">∨</span>
    <div class="create-time-display create-state">
        <ul>
            <li class="js-allstate" data-state="allstate">所有状态</li>
            <li class="js-sucess" data-state="sucess">处理成功</li>
            <li class="js-excute" data-state="excute">正在处理</li>
            <li class="js-fail" data-state="fail">处理失败</li>
        </ul>
    </div>
</div>