<div class="logo">

</div>
<div class="loginbox">
    <div class="search">
        <input id="s" type="text" placeholder="搜索" />
        <div class="searchimg"></div>
    </div>
    <a class="people r"></a>
    <div class="info">
        <img src="images/manage/header.jpg"/>
        <a class="js-username" href="#"></a>
        <i></i>
        <div class="dd">
            <div class="js-usercenter"><a>个人中心</a></div>
            <div class="js-logout"><a>退出登录</a></div>
        </div>
    </div>
</div>
