<ul class="nav">
    <li class="usercenter none"><a href="javascript:void(0)" title="个人中心"><img src="images/manage/avatar.png" alt="">个人中心</a></li>
    {{!--
    <li class="first">
        <a href="#all" title="全部文件" class="js-all"><img src="images/icon_1.png">全部文件</a>
        <ul class="subnav">
               
            <li class="current"><a href="#"><img src="images/icon_4.png">视音频</a></li>
            <li><a href="#"><img src="images/icon_5.png">图片</a></li>
            <li><a href="#"><img src="images/icon_6.png">文档</a></li>
            <li><a href="#"><img src="images/icon_7.png">其他</a></li>
               
        </ul>
    </li>
    <li class="js-common" title="常用文件"><a href="#common"><img src="images/icon_2.png" width="20" height="19">常用文件</a></li>
    <li class="js-recycle" title="回收站"><a href="#recycle"><img src="images/icon_3.png" width="20" height="19">回收站</a></li>
    --}}
</ul>
<div class="phone">
    <p>
        <em class="android"></em>
        <span>Android版</span>
    </p>
    <div class="phone-dimension">
        <em class="phone-dimensional"></em>
        <span>扫描二维码下载</span>
    </div>
</div>
<div class="memory">
    <div class="p"><span></span></div>
    <p class="my f12 tc mt10"><span class="js-used"></span> / <span class="js-total"></span></p>
</div>
