<div class="player_box cut-form">
    <h2 class="caption">移动到</h2>
    <div class="close"><span>×</span></div>
    <div class="content">
        <div class="bbm-modal__section">

        </div>
        <div class="bbm-modal__bottombar c_box mt20">
            <div class="c_box mt20">
                <input type="button" value="新建文件夹" id="wf" class="creation my f18 wf bbm-button js-newfolder">
                <input type="button" value="移 动" id="wf" class="creation my f18 wf ml20 bbm-button js-sumbit">
            </div>
            <p class="tooltip js-tooltip">不能移到本目录及其子目录下！</p>
        </div>
    </div>
</div>