<li class="setting-0"><a href="javascript:void(0);" title="上传" class="doc dropzone" id="dropzone"></a></li>
<li class="setting-1"><a href="javascript:void(0);" title="新建文件夹" class="file"></a></li>
<li class="setting-2"><a href="javascript:void(0);" title="分享" class="cloudshare"></a></li>
<li class="setting-3"><a href="javascript:void(0);" title="下载" class="cloud"></a></li>
<li class="setting-4"><a href="javascript:void(0);" title="删除" class="rubbish"></a></li>

<li class="setting-5"><a href="javascript:void(0);" title="更多操作" class="more"></a></li>

<li class="setting-6"><a href="javascript:void(0);" title="重命名" class="rename"></a></li>
<li class="setting-7"><a href="javascript:void(0);" title="移动到" class="move"></a></li>

<li class="setting-8"><a href="javascript:void(0);" title="恢复" class="recover"></a></li>
<li class="setting-9"><a href="javascript:void(0);" title="删除" class="rremove"></a></li>
<li class="setting-10"><a href="javascript:void(0);" title="全部删除" class="removeall"></a></li>