<div class="check none"></div>
<dt>
    {{#equal status 1}}
        {{#if canShowSuffix}}
        <span class="otherstyle">{{fileTypeExt}}</span>
        {{/if}}
        <div class="star"></div>
        <section class="tooltip material-other" style="background-image: url('{{keyFramePath}}'); " title="{{name}}" contentid="{{contentID}}"></section>
    {{else}}
        {{#equal status 0}}
            <span class="status js-status">processing</span>
            <section class="tooltip material-other" style="background: rgba(0, 0, 0, 0.1) url(./images/load/loading.gif) 50% 50% no-repeat; background-size: 20%; "></section>
        {{else}}
            <!--<div class="trans-star js-transform"></div>-->
            <div class="star"></div>
            <span class="status js-status" style="color:red">failed</span>
            <section class="tooltip material-other" style="background: rgba(0, 0, 0, 0.1) url(./images/manage/failed.png) 50% 50% no-repeat; background-size: 35%; "></section>
        {{/equal}}
    {{/equal}}
</dt>
<dd>
    <a class="js-showname"  style="width:120px;">{{name}}</a> <!--title="{{name}}"-->
    <input class="none js-rename" type="text" value="{{name}}" style="width:120px;"/>
</dd>
