
<div class="player_box cut-form">
    <h2 class="caption">创建视频审阅</h2>
    <div class="close"><span>×</span></div>
    <div class="content">
        <div class="title">
            <div class="cut-form-text">
                <input class="name f18 js-edit-name input" type="text" placeholder="名称">
                <span class="js-tooltip">*</span>
            </div>
            <div class="cut-form-text">
                <textarea class="js-edit-desc input" placeholder="这里输入对该文件的简介信息"></textarea>
                <span class="js-tooltip">*</span>
            </div>
        </div>

        <div class="file_box mt20">
            <h3>文件<!--（<span class="js-count"></span>）--></h3>
            <ul class="mt10 js-edit-filelist">
                <!--<li>
                    <a href="#" class="ml10"><img class="vm" src="images/edit/img_01.png" width="67" height="45"></a>
                    <span class="ml20 f14"><b>韩国天使少女组合</b></span>
                </li>-->
            </ul>
        </div>
        <div class="join_box mt20">
            <h3>参与者</h3>
            <div class="subject mt10">
                <div class="head_pic"><img src="images/edit/img_05.jpg" width="43" height="40"></div>
                <div class="user_info l ml10">
                    <p class="user_name"><b class="my f14">北纬27°59′′</b></p>
                    <p class="user_buil">创建者</p>
                </div>
                <div class="assist r mr10">邀请参与者<i class="dib vm ml10"></i></div>
            </div>
            <div class="assist_lists">
                <ul>
                    <li>
                        <div class="other_head_pic"><img src="images/edit/img_04.png" width="47" height="45"></div>
                        <div class="other_name tc">熙哥</div>
                    </li>
                    <li>
                        <div class="other_head_pic"><img src="images/edit/img_04.png" width="47" height="45"></div>
                        <div class="other_name tc">刘总</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="c_box mt20">
            <input class="creation my f18 wf" id="wf" type="button" value="创 建">
        </div>
    </div>
</div>



