<div class="player_box">  
    <div class="caption js-title"></div>
    <div class="close"><span>×</span></div>
    <div class="player fix">
        <div class="player_left l">
            <video id="cloud_video" class="video-js vjs-default-skin" preload="auto" width="100%" height="100%" poster="" controls="controls"
                   data-setup='{"example_option":true,"controls": false, "autoplay": false, "preload": "auto"}'>
                <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
            </video>
        </div>
        <div class="player_right l rel">
            <h2><span class="current ml20">基本信息</span><!--<span class="ml20">元数据</span>--></h2>
            <ul>
                <li class="js-creator-li"><label>上传者: </label><span class="js-creator"></span></li>
                <li class="js-createTime-li"><label>上传时间: </label><span class="js-createTime"></span></li>
                <li class="js-size-li"><label>大小: </label><span class="js-size"></span></li>
                <li class="js-bitrate-li"><label>码率: </label><span class="js-bitrate"></span></li>
                <li class="js-ratio-li"><label>画幅比: </label><span class="js-ratio"></span></li>
            </ul>
            <h2 class="s">
                <span class="share mr20"><img src="images/player/icon_02.png" width="21" height="24"></span>
                <span class="favorites mr20" title="收藏"></span>
                <span class="download" title="下载"><a href=""></a></span>
            </h2>
        </div>
    </div>
</div>