<!--<div class="create_box zong">
    <div class="close bbm-button"><span>×</span></div>
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title" style="font-size: 22px; position: absolute; top: -55px; left: 0;">提示</h3>
    </div>
    <div class="bbm-modal__section js-message" style="height:150px;font:bold 15px '微软雅黑';">

    </div>
    <div class="bbm-modal__bottombar c_box mt20">
        <a href="#" class="creation my f18 wf bbm-button js-sumbit" id="wf">确 认</a>
    </div>
</div>-->


<div class="player_box cut-form">
    <h2 class="caption">提示</h2>
    <div class="close"><span>×</span></div>
    <div class="content">
        <div class="bbm-modal__section" style="overflow-x:hidden;">
            <div class="js-message"></div>
        </div>
    </div>
</div>