<div class="location l">
    <a href="#" class="js-goback">返回上一级</a> │
    <span>
        <a href="#" class="js-root">全部文件</a>
        <span class="js-tree">
             {{!-->  <a href="#folderid">apps</a> >  <a href="#current"><b>thirdfolder</b></a>--}}
        </span>
    </span>
</div>
<div class="sort r">
    <a class="time js-time" data-sort="createtime">时间  ↓</a>
    <a class="name js-name" data-sort="entityname">名称  ↑</a>
    <a class="count js-pagesize">
        <span class="js-pagesize-show">15</span>
        <b>∨</b>
        <ul class="counthide" >
            <li data-pagesize="15">15</li>
            <li data-pagesize="30">30</li>
            <li data-pagesize="45">45</li>
        </ul>
    </a>
</div>