<ul class="nav">
    <li class="usercenter none"><a href="javascript:void(0)" title="个人中心"><img src="images/manage/avatar.png" alt="">个人中心</a></li>
</ul>
<div class="phone">
    <p>
        <em class="android"></em>
        <span>Android版</span>
    </p>
    <div class="phone-dimension">
        <em class="phone-dimensional"></em>
        <span>扫描二维码下载</span>
    </div>
</div>
<div class="memory">
    <div class="p"><span></span></div>
    <p class="my f12 tc mt10"><span class="js-used"></span> / <span class="js-total"></span></p>
</div>
