<li data-id="{{id}}">
    <span class="imgs"><a href="#"><img src="./images/cut/waiting.gif" onerror="javascript: this.src = './images/load/loading.gif'; " class="js-keyframe" width="80" height="50"></a></span>
    <span class="title js-title"><a href="#">{{name}}</a> <input type="text" class="js-rename none" value="{{name}}" name="" style="width:100px;"/></span>
    <!--<span class="rename none"><input type="text" class="js-rename" value="" name="" /></span>-->
    <span class="time">{{duration}}</span>
    <span class="none js-oprations">
        <span class="join js-rename"></span>
        <span class="dele js-remove"></span>
    </span>
   
</li>