
<div class="cut-header"><div><div class="logo"></div></div></div>
<div class="cut-content">
    <div class="cut-content-box">
        <div class="cut-left">
            <div>
                <h2 class="cut-title">Missing-BOA.mp4</h2>
                <div class="v_area"><video controls  id="video" >Your browser does not support the video tag.</video></div>
                <div class="v_bar">
                    <button class="leftmove"><b>&lt;</b></button>
                    <ul class="fix">

                        <li><img src="http://172.16.135.124:80/keyframe/Clip/2014/08/04/YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4/70419ead-6ea0-4937-b0a6-7705363fd545.jpg" data-id="YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4" width="80" height="50"></li>

                        <li><img src="http://172.16.135.124:80/keyframe/Clip/2014/08/04/YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4/70419ead-6ea0-4937-b0a6-7705363fd545.jpg" data-id="YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl5" width="80" height="50"></li>

                        <li><img src="http://172.16.135.124:80/keyframe/Clip/2014/08/04/YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4/70419ead-6ea0-4937-b0a6-7705363fd545.jpg" data-id="YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl6" width="80" height="50"></li>

                        <li><img src="http://172.16.135.124:80/keyframe/Clip/2014/08/04/YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4/70419ead-6ea0-4937-b0a6-7705363fd545.jpg" data-id="YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl7" width="80" height="50"></li>

                        <li><img src="http://172.16.135.124:80/keyframe/Clip/2014/08/04/YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl4/70419ead-6ea0-4937-b0a6-7705363fd545.jpg" data-id="YS7944JD8m9Ye3ph7L1sgJv3qWFiyWl8" width="80" height="50"></li>


                    </ul>
                    <button class="rightmove"><b>&gt;</b></button>
                </div>
            </div>
        </div>
        <div class="cut-right">
            <div>
                <h2>Story1Name</h2>
                <ul class="topnav fix">
                    <li><a href="#" class="play"></a></li>
                    <li><a href="#" class="share"></a></li>
                    <li><a href="#" class="send"></a></li>
                </ul>
                <div class="fragment-list">


                </div>
            </div>
        </div>
    </div>
</div>
<div class="cut-footer">
    <div>
        <div class="frame_bg">
            <!--<canvas id="timeline" width="1905" height="110" style="margin:5px">您的浏览器不支持html5！</canvas>
            <div id="currentprogressSpan" style="line-height: 80px;height:80px;width:5px;background-color: red;position:relative;top: -94px;left: 15px;cursor:pointer;"></div>
            <div id="currentinPointSpan" style="line-height: 60px; height: 60px; width: 10px; background-color: gray; position: relative; opacity: 0.8; top: -154px; left: 15px; cursor: pointer;"></div>
            <div id="currentoutPointSpan" style="line-height: 60px; height: 60px; width: 10px; background-color: gray; position: relative; opacity: 0.8; top: -214px; left: 1835px; cursor: pointer;"></div>-->
        </div><!--End frame_bg-->
        <div class="options fix">
            <div>
                <div class="left_panel">
                    <div>
                        <p class="standard">STANDARD TIMECODE<br>00:00:12.479</p>
                        <p class="tape">TAPE TIMECODE<br>00:00:12.479</p>
                        <p class="num">FRAME NUM<br>789</p>
                    </div>
                </div>
                <div class="main-panel">
                    <div>
                        <div class="voice"></div>
                        <div class="voice_bar">
                            <span></span>
                        </div>
                        <div class="voice_full"></div>
                        <ul class="fix l">
                            <li class="pre"><a href="#"></a></li>
                            <li class="rerun"><a href="#"></a></li>
                            <li class="next last"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel">
                    <div>
                        <ul class="fix l">
                            <li class="crop"><a href="#"></a></li>
                            <li class="add last"><a href="#"></a></li>
                        </ul>
                        <div class="backward"></div>
                        <div class="control_bar">
                            <span></span>
                        </div>
                        <div class="forward"></div>
                        <div class="scrollbar">
                            <div class="p1"></div>
                            <div class="p2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
