<div class="frame_bg">
    <!--<div class="progress_bar">
        <div class="percent" style="width: 25%;"></div>
        <div class="pointer"><span>00:00:01.00</span></div>
        <div class="range">
            <div class="left_btn"></div>
            <div class="right_btn"></div>
        </div>
    </div>-->
</div><!--End frame_bg-->
<div class="options fix">
    <!--<div class="left_panel">
        <p class="standard">STANDARD TIMECODE<br>00:00:12.479</p>
        <p class="tape">TAPE TIMECODE<br>00:00:12.479</p>
        <p class="num">FRAME NUM<br>789</p>
    </div>
    <div class="main-panel">
        <div class="voice"></div>
        <div class="voice_bar">
            <span></span>
        </div>
        <div class="voice_full"></div>
        <ul class="fix l">
            <li class="pre"><a href="#"></a></li>
            <li class="rerun"><a href="#"></a></li>
            <li class="next last"><a href="#"></a></li>
        </ul>
    </div>
    <div class="right-panel">
        <ul class="fix l">
            <li class="crop"><a href="#"></a></li>
            <li class="add last"><a href="#"></a></li>
        </ul>
        <div class="backward"></div>
        <div class="control_bar">
            <span></span>
        </div>
        <div class="forward"></div>
        <div class="scrollbar">
            <div class="p1"></div>
            <div class="p2"></div>
        </div>
    </div>-->
</div>