<h3>当前资费</h3>
<div class="-uc-content">
    <ul class="-uc-detail">
        <li><span class="personal">付费人</span><span class="-uc-size">admin</span></li>
        <li><span class="personal">付费方案</span><span class="-uc-size">个人专业版</span><a href="javascript:void(0)" class="js-selectrate" data-uri="selectrate">修改资费</a></li>
        <li>
            <span class="-uc-cf-cost personal">费用简介</span>
            <span class="cost-profile">
                <ul>
                    <li>150G存储容量</li>
                    <li>支持上传客户端</li>
                    <li>支持移动端</li>
                    <li>支持100个Show</li>
                    <li>支持与妙鸽对接</li>
                    <li>支持与电视台中心对接</li>
                </ul>
            </span>
        </li>

    </ul>
</div>