<div class="js-top">
    <h3>空间存储  <span>56GB/150GB</span></h3>
    <div class="content">
        <ul class="-uc-consumption">
            <li><span>视频</span><span class="-uc-size">共23个</span><span class="-uc-size">40G</span></li>
            <li><span>音频</span><span class="-uc-size">共27个</span><span class="-uc-size">5G</span></li>
            <li><span>图片</span><span class="-uc-size">共5个</span><span class="-uc-size">3G</span></li>
            <li><span>文档</span><span class="-uc-size">共23个</span><span class="-uc-size">5G</span></li>
            <li><span>其他</span><span class="-uc-size">共26个</span><span class="-uc-size">1G</span></li>

        </ul>
    </div>
</div>
<div class="js-bottom">
    <h3>文件转码</h3>
    <div class="content">
        <ul class="-uc-consumption">
            <li><span>网络格式</span><span class="-uc-size">共4500分钟</span></li>
            <li><span>专业格式</span><span class="-uc-size">共89500分钟</span></li>
        </ul>
    </div>
    <h3>活动创建情况</h3>
    <div class="content">
        <ul class="-uc-consumption">
            <li><span>剪切</span><span class="-uc-allsize">共5个</span><span class="-uc-size">剩余25个</span></li>
            <li><span>视音频审阅</span><span class="-uc-allsize">共9个</span><span class="-uc-size">剩余30个</span></li>
        </ul>
    </div>
</div>