<h3>空间存储  <span class="js-space">56GB/150GB</span></h3>
<div class="content">
    <ul class="-uc-consumption">
        <li><span>视频</span><span class="-uc-size">共<i class="js-clip-count">0</i>个</span><span class="-uc-size js-clip-size"><i>0KB</i></span></li>
        <li><span>音频</span><span class="-uc-size">共<i class="js-audio-count">0</i>个</span><span class="-uc-size js-audio-size"><i>0KB</i></span></li>
        <li><span>图片</span><span class="-uc-size">共<i class="js-pic-count">0</i>个</span><span class="-uc-size js-pic-size"><i>0KB</i></span></li>
        <li><span>文档</span><span class="-uc-size">共<i class="js-doc-count">0</i>个</span><span class="-uc-size js-doc-size"><i>0KB</i></span></li>
        <li><span>其他</span><span class="-uc-size">共<i class="js-other-count">0</i>个</span><span class="-uc-size js-other-size"><i>0KB</i></span></li>
        <li><span>回收站</span><span class="-uc-size">共<i class="js-recycle-count">0</i>个</span><span class="-uc-size js-recycle-size"><i>0KB</i></span></li>
        <li><span>转码文件</span><span class="-uc-size">共<i class="js-file-count">0</i>个</span><span class="-uc-size js-file-size"><i>0KB</i></span></li>
    </ul>
</div>