<h3>文件转码</h3>
<div class="content">
    <ul class="-uc-consumption">
        <li><span>网络格式</span><span class="-uc-size js-net-size">共0秒</span></li>
        <li><span>专业格式</span><span class="-uc-size js-profession-size">共0秒</span></li>
    </ul>
</div>
<h3>活动创建情况</h3>
<div class="content">
    <ul class="-uc-consumption">
        <li><span>剪切</span><span class="-uc-allsize">共<i class="js-cut-count">0</i>个</span></li>
        <li><span>合成</span><span class="-uc-allsize">共<i class="js-mixture-count">0</i>个</span></li>
        <li><span>视音频审阅</span><span class="-uc-allsize">共<i class="js-review-count">0</i>个</span></li><!--<span class="-uc-size">剩余XX个</span>-->
    </ul>
</div>