<h3>邀请码</h3>
<h4>邀请版使用须知</h4>
<div class="invite-box">
    <div class="invite-left">
        <ol>
            <li>邀请版的有效期是2015.1——2016.1。</li>
            <li>在有效期内，你的容量配比如右图所示。</li>
            <li>邀请版过期后，我们将保存最近上传的5GB文件，其余文件将被冻结。</li>
            <li>冻结时间为3个月。</li>
            <li>在冻结期间也可以付费升级，付费成功后，冻结的文件将返回到百灵网盘。</li>
            <li>超过冻结时间，冻结的文件将自动删除！</li>
            <li>过期后，自动还原为以前的版本</li>
            <li>每个账号只能使用一个邀请码，不可多次使用。您可以向我们的推广人员索要邀请码。</li>
            <li>请在有效期内使用，过期作废。</li>
            <li>最终解释权归索贝所有，谢谢支持！</li>
        </ol>
    </div>
    <div class="invite-right">
        <div class="topic">50GB</div>
        <div class="valid-date">有效期：2015.1-2016.1</div>
        <span>▶200分钟专业格式转码</span>
        <span>▶200分钟网络格式转码</span>
        <span>▶20个剪切</span>
        <span>▶20个剪切</span>
        <span>▶上传客户端</span>
        <span>▶对接电视台内容中心</span>
    </div>
</div>
<div class="action-box">
    <span>请输入邀请码:</span>
    <input type="password" value=""/>
    <button>升级为邀请版</button>
</div>
<div class="action-box">
    <p>你已经升级为邀请版，有效期1015.1.1-2015.12.30</p>
</div>