<input class="-wm-uploaded my wf" type="button" value="上传水印图片" />
<div class="-wm-request">
    <div class="-wm-preview">
        <p>上传的水印图片只能是vga格式，文件大小不超过500K</p>
        <div></div>
    </div>
    <p class="-wm-line"></p>
    <div class="-wm-select">
        <p>请选择水印位置</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="-wm-preserve">
    <input class="creation f18 my wf" type="button" value="保存" />
    <input class="creation f18 my wf" type="button" value="取消" />
</div>