<h3>修改密码</h3>
<div class="content">
    <form id="js-form">
        <ul class="-uc-detail">
            <li>
                <span class="personal">旧密码</span>
                <input type="password" class="js-oldpsw" placeholder="请填写您的旧密码"/>
                <span class="verify-tip"></span>
            </li>
            <li>
                <span class="personal">新密码</span>
                <input type="password" class="js-newpsw" id="password" placeholder="请填写新密码"/>
                <span class="verify-tip"></span>
            </li>
            <li>
                <span class="personal">再次输入密码</span>
                <input type="password" class="js-repeatpsw" placeholder="请再次输入新密码"/>
                <span class="verify-tip"></span>
            </li>
            <li class="box-btn">
                <span></span><input type="submit" value="保 存" id="submit-btn">
            </li>
        </ul>
    </form>
</div>