<h3>修改密码</h3>
<div class="content-box">
    <form id="js-form">
        <ul class="-uc-detail">
            <li>
                <span class="personal">旧密码</span>
                <input type="password" name="oldpsw" class="js-oldpsw" placeholder="请填写您的旧密码"/>
                <span class="verify-tip"></span>
            </li>
            <li>
                <span class="personal">新密码</span>
                <input type="password" name="newpsw" class="js-newpsw" id="password" placeholder="请填写新密码"/>
                <span class="verify-tip"></span>
            </li>
            <li>
                <span class="personal">确认密码</span>
                <input type="password" name="repeatpsw" class="js-repeatpsw" placeholder="确认密码" />
                <span class="verify-tip"></span>
            </li>
            <li class="box-btn">
                <span></span><input type="button" value="保 存" id="submit-btn">
            </li>
        </ul>
    </form>
</div>