<h3>选择资费类型 > <a href="#">付费</a></h3>
<div class="-uc-content">
    <p class="choice-cost">请从以下资费中选择适合你的资费方案：</p>

    <ul class="-uc-cf fix">
        <li>
            <span class="type">免费版</span>
            <span class="cost gratis">免费版<sup>1</sup></span>
            <dl>
                <dt>5GB</dt>
                <dd>▶ HTTP上传</dd>
                <dd>▶ 支持移动端</dd>
                <dd>▶ 支持10个Show</dd>
                <dd>▶ 支持与秒鸽对接</dd>
            </dl>
            <div class="btn"><button>修改资费</button></div>
        </li>
        <li>
            <span class="type">高级版</span>
            <span class="cost">费用待定</span>
            <dl>
                <dt>50GB</dt>
                <dd>▶ 上传客户端</dd>
                <dd>▶ 支持移动端</dd>
                <dd>▶ 支持50个Show</dd>
                <dd>▶ 支持与秒鸽对接</dd>
            </dl>
            <div class="btn"><button>修改资费</button></div>
        </li>
        <li>
            <span class="type">专业版</span>
            <span class="cost">费用待定</span>
            <dl>
                <dt>150GB</dt>
                <dd>▶ 上传客户端</dd>
                <dd>▶ 支持移动端</dd>
                <dd>▶ 支持100个Show</dd>
                <dd>▶ 支持与秒鸽对接</dd>
                <dd>▶ 支持与电视台内容中心对接</dd>
            </dl>
            <div class="btn"><button class="tariff">当前资费</button></div>
        </li>
        <li class="last">
            <h2 class="custom">私人定制</h2>
            <p>想要更大容量？更个性化的功能？我们为你准备了定制方案。</p>
            <div class="btn"><button>私人订制</button></div>
        </li>
    </ul>
</div>