
<div class="-ct-content">
    <h1>问题反馈</h1>
    <div class="-ct-feedback">
        <div class="-ct-fb">
            <textarea id="feedback" class="-ct-question" placeholder="请在此输入您的问题和建议..."></textarea>
            <div class="-ct-browse">
                <button id="dropzoneForm" class="-ctb-btn">上传图片</button>
                <ul>

                </ul>
            </div>
            <p>请在此留下你的联系方式，我们期待与您取得联系，您的私人信息将受到严格保密。</p>
            <div class="-ct-adress">
                <span>邮箱地址：</span>
                <input id="email" type="text" placeholder="请留下你的邮箱地址" />
            </div>
            <div class="-ct-send">
                <input type="button" class="-ct-set" value="发  送">
            </div>
        </div>
    </div>
</div>



