<h1 class="fg-title">找回密码</h1>
<div class="fg-find-step second">
    <ul>
        <li>填写用户名</li>
        <li>验证身份</li>
        <li>设置新密码</li>
        <li>完成</li>
    </ul>
</div>
<div class="fg-content">
    <p>
        <label>用户名</label>
        <span id="username">female-1990</span>
    </p>
    <p>
        <label>已验证手机</label>
        <span id="phone">187***9098</span>
        <input type="button" id="verifyCodeSend" value="点击获取验证码" class="">
    </p>
    <p>
        <label>短信验证码</label>
        <input id="verityCode" type="text" placeholder="验证码" />
    </p>
    <p class="btn">
        <a class="fg-super fg-button fg-blue js-second-next">下一步</a>
    </p>
</div>