<h1 class="fg-title">找回密码</h1>
<div class="fg-find-step first">
    <ul>
        <li>填写用户名</li>
        <li>验证身份</li>
        <li>设置新密码</li>
        <li>完成</li>
    </ul>
</div>
<div class="fg-content">
    <p>
        <label>用户名</label>
        <input type="text" placeholder="用户名" />
    </p>
    <p>
        <label>验证码</label>
        <input type="text" placeholder="验证码" />
    </p>
    <p class="btn">
        <a class="fg-super fg-button fg-blue js-third-prev">回到首页</a>
        <a class="fg-super fg-button fg-blue js-first-next">下一步</a>
    </p>

</div>