<h1 class="fg-title">找回密码</h1>
<div class="fg-find-step first">
    <ul>
        <li>填写用户名</li>
        <li>验证身份</li>
        <li>设置新密码</li>
        <li>完成</li>
    </ul>
</div>
<div class="fg-content">
    <p>
        <label>用户名</label>
        <input id="userName" type="text" placeholder="英文字母" />
    </p>
    <p>
        <label>验证码</label>
        <input id="verify" type="text" placeholder="4位验证码" />
        <img id="verifyImg" src="" width="50" height="20" alt="看不清楚，换一张" title="看不清楚，换一张" >
    </p>
    <p class="btn">
        <a class="fg-super fg-button fg-blue js-first-next">下一步<b></b></a>
    </p>

</div>