<h1 class="fg-title">找回密码</h1>
<div class="fg-find-step thirdly">
    <ul>
        <li>填写用户名</li>
        <li>验证身份</li>
        <li>设置新密码</li>
        <li>完成</li>
    </ul>
</div>
<div class="fg-content">
    <p>
        <label>新密码</label>
        <input type="text" placeholder="新密码" />
    </p>
    
    <p>
        <label>确认密码</label>
        <input type="text" placeholder="确认密码" />
    </p>
    
    <p class="btn">
        <a class="fg-super fg-button fg-blue js-third-prev">上一步</a>
        <a class="fg-super fg-button fg-blue js-third-next">下一步</a>
    </p>

</div>