<div class="login-logo"><img src="images/mcloud/bb_s.png" width="151" height="93"></div>
<div class="login-error"><span class="js-error"></span></div>
<div class="login-input"><input id="js_user" type="text" value="" placeholder="邮箱/手机号码/百灵 ID"/></div>
<div class="login-input">
    <input id="js_password" type="password" value="" placeholder="密码"/>
    <span class="remin"></span>
</div>
<div class="login-input"><input id="button" name="Submit" type="button" class="btn login" value="登  录"/></div>
<div class="login-input"><a class="login-forget">忘记密码?</a></div>
<div class="login-input"><input type="button" class="btn register" value="注册新百灵帐户"/></div>
<p id="q"></p>