<form id="reg-form">
    <h1>用户注册</h1>
    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">用户名</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="userCode" name="userCode" placeholder="用户名长度在4-16个字符之间" />
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">密码</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="6-20个字符之间，可使用字符、数字或符号组合" />
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">确认密码</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="请再次填写密码" />
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">手机号码</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="mobileNum" name="mobileNum" placeholder="请输入您的手机号码" />
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">验证码</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="verificationCode" name="verificationCode" placeholder="请输入验证码" /><input
                type="button" class="" value="点击获取验证码" id="verifyCodeSend">
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">邮箱</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="email" name="email" placeholder="请输入您的邮箱地址" />
            <span class="hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 btn-center">
            <button type="button" id="register" class="btn btn-success regs-button regs-red">马 上 注 册</button>
        </div>
    </div>
</form>