<div class="total f14">已加载全部共<span style="color: #0FF;">{{totalRecords}}</span>个</div>
<div class="page_nav">
    <a href="#" class="first js-first js-navigatable" data-page="1">  <<  </a>
    <a href="#" class="pre js-previous js-navigatable" data-page="{{previous}}">  <  </a>
    <span class="current ml10 mr5">{{currentPage}}</span>/
    <span class="all ml5 mr10">{{totalPages}}</span>
    <a href="#" class="next js-next js-navigatable" data-page="{{next}}">  >  </a>
    <a href="#" class="last js-last js-navigatable" data-page="{{totalPages}}">  >>  </a>
</div>