<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>desc</title>
    <link href="../../css/clipreview.css" rel="stylesheet" />
</head>
<body >
    <div>
        <div class="desc-header">
            <div class="logo"></div>
            <div class="login"></div>
        </div>
        <div  class="desc-content">
            <div class="desc-content-box">
                <div class="desc-left">
                    <div>
                        <h2 class="desc-title js-title" style="display: inline-block;">8声道K2.mxf</h2>
                        <div id="wPaint" class="v_area">
                            <img width="100%" height="100%" src="../../images/desc/8888.png" />
                            <div class="fullscreen"></div>
                            <div class="photo"></div>
                        </div>
                        <div class="v_bar">
                            <div class="v-left">
                                <ul>
                                    <li class="vl1"></li>
                                    <li class="vl2"></li>
                                    <li class="vl3"></li>
                                    <li class="vl4"></li>
                                    <li class="vl5"></li>
                                    <li class="vl6"></li>
                                    <li class="vl7"></li>
                                    <li class="vl8"></li>
                                </ul>
                            </div>
                            <div class="v-right">
                                <input class="input" placeholder="请填写您的审阅意见" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc-right">
                    <div class="title">
                        <h2>评论列表</h2>
                        <h3>创建时间排序 ∨</h3>
                    </div>
                    <div class="s_input">
                        <input class="input" placeholder="Search Comments" />
                    </div>
                    <div class="right_content">
                        <div class="review">
                            <div class="js-theme">
                                <div class="own">
                                    <span class="own_img"><img src="../../images/desc/ee.png" width="100%" height="100%" /></span>
                                    <div class="usersay uy">
                                        <span class="user">7130655@qq.com</span>
                                        <span class="time">00:01:05.00</span>
                                        <p class="alltime">2014-08-06 13:00:00</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <img class="img" src="../../images/desc/qq.png" width="68" height="37" />
                                    <span>感觉这里的光效不对啊，请修正一下！</span>
                                </div>
                            </div>
                            <div class="js-reply">
                                <div class="own own2">
                                    <span class="own_img"><img src="../../images/desc/ee.png" width="100%" height="100%" /></span>
                                    <div class="usersay uy">
                                        <span class="user">7130655@qq.com</span>
                                        <span class="time">00:01:05.00</span>
                                        <p class="alltime">2014-08-06 13:00:00</p>
                                    </div>
                                </div>
                                <!--<div class="content">
                                    <span class="object">你说改就改啊！</span>
                                </div>-->
                                <div class="content">
                                    <img class="img" src="../../images/desc/qq.png" width="68" height="37" />
                                    <span>感觉这里的光效不对啊，请修正一下！</span>
                                </div>
                            </div>
                            <div class="replay">
                                <div class="retop">
                                    <input class="input" placeholder="输入回复" />
                                    <img src="../../images/desc/micro.png" width="38" height="28" />
                                </div>
                            </div>
                        </div>


                        <div class="review review_two">
                            <div class="js-theme">
                                <div class="own">
                                    <span class="own_img"><img src="../../images/desc/ee.png" width="100%" height="100%" /></span>
                                    <div class="usersay uy">
                                        <span class="user">7130655@qq.com</span>
                                        <span class="time">00:01:05.00</span>
                                        <p class="alltime">2014-08-06 13:00:00</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <img class="img" src="../../images/desc/rr.png" width="68" height="37" />
                                    <span>感觉这里的光效不对啊，请修正一下！</span>
                                </div>
                            </div>
                            <div class="replay">
                                <div class="retop">
                                    <input class="input" placeholder="输入回复" />
                                    <img src="../../images/desc/micro.png" width="38" height="28" />
                                </div>
                            </div>
                    </div>

                        <div class="review_two ret"></div>
                </div>


                </div>
            </div>
        </div>
        <div class="desc-footer">
                <div class="frame_bg">
                    <div class="progress_bar">
                        <div class="percent" style="width: 170px;"></div>
                        <div class="pointer"><span>00:00:01.00</span></div>
                        <div class="point"><span>4</span></div>
                        <!--<div class="range">
                            <div class="left_btn"></div>
                            <div class="right_btn"></div>
                        </div>-->
                    </div>
                </div>
                <div class="options fix">
                    <div>
                        <div class="left_panel">
                            <div>
                                <!--<p class="standard">STANDARD TIMECODE<br><span class="js-standerdtime">00:00:00.00</span></p>-->
                                <p class="tape1">STANDARD TIMECODE<br><span class="js-tapetime" style="font-size:16px;">00:00:12.479</span></p>
                                <p class="tape">TAPE TIMECODE<br><span class="js-tapetime" style="font-size:16px;">00:00:12.14</span></p>
                                <p class="num">FRAME NUM<br><span class="js-totaltime" style="font-size:16px;position:relative;left:25px;">789</span></p>
                            </div>
                        </div>
                        <div class="main-panel">
                            <div>
                                <div class="voice"></div>
                                <div class="voice_bar ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                                    <span></span>
                                    <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                                    <div class="dot"></div>
                                </div>
                                <div class="voice_full"></div>
                                <ul class="fix l">
                                    <li class="pre"><a href="#"></a></li>
                                    <li class="rerun"><a href="#"></a></li>
                                    <li class="next last"><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-panel">
                       <!--     <div>
                                <ul class="fix l">
                                    <li class="crop tooltip"><a href="#"></a></li>
                                    <li class="add last tooltipstered"><a href="#"></a></li>
                                </ul>-->
                                <div class="backward"></div>
                                <div class="control_bar">
                                    <span></span>
                                    <div class="dot"></div>
                                </div>
                                <div class="forward"></div>
                                <div class="scrollbar">
                                    <div class="p1"></div>
                                    <div class="p2"></div>
                                </div>
                           <!-- </div>-->
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script src="../../js/libs/wPaint/jquery.1.10.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="../../js/libs/wPaint/jquery.ui.core.1.10.3.min.js"></script>
    <script src="../../js/libs/wPaint/jquery.ui.widget.1.10.3.min.js"></script>
    <script src="../../js/libs/wPaint/jquery.ui.mouse.1.10.3.min.js"></script>
    <script src="../../js/libs/wPaint/jquery.ui.draggable.1.10.3.min.js"></script>


    <!-- wColorPicker -->
    <link href="../../js/libs/wPaint/wColorPicker.min.css" rel="stylesheet" />
    <script src="../../js/libs/wPaint/wColorPicker.min.js"></script>

    <!-- wPaint -->
    <link href="../../js/libs/wPaint/wPaint.min.css" rel="stylesheet" />
    <script src="../../js/libs/wPaint/wPaint.min.js"></script>
    <script src="../../js/libs/wPaint/plugins/main/wPaint.menu.main.min.js"></script>
    <script src="../../js/libs/wPaint/plugins/text/wPaint.menu.text.min.js"></script>
    <script src="../../js/libs/wPaint/plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
    <script src="../../js/libs/wPaint/plugins/file/wPaint.menu.main.file.min.js"></script>


    <script type="text/javascript">
        var images = [
            '../../test/uploads/wPaint.png',
            '../../test/uploads/wPaint-2.png'
        ];

        function saveImg(image) {
            var _this = this;
            $.ajax({
                type   : 'POST',
                url    : '../../test/upload.php',
                data   : {image: image},
                success: function (resp) {
                    resp = $.parseJSON(resp);
                    images.push(resp.img);
                    $('#wPaint-img').attr('src', image);
                }
            });
        }

        function loadImgBg() {
            this._showFileModal('bg', images);
        }

        function loadImgFg() {
            this._showFileModal('fg', images);
        }

        $('#wPaint').wPaint({
            path          : '../../js/libs/wPaint/',
            theme: 'standard classic',
            menuOffsetLeft: 20,
            saveImg       : saveImg,
            loadImgBg     : loadImgBg,
            loadImgFg     : loadImgFg
        });
    </script>

</body>
</html>
