<div class="box">
    <div class="share-data clearFix">
        <h2 title="Lenka - Dont Let Me Fall.mp3" class="file-name">
            <em class="icon"></em>
            SobeyMAM 分享了
            <b>Happy New Year! </b>
        </h2>
                <span class="funcs">
                    <a class="save" href="#">转存至百灵</a>
                    <a class="down" href="#">下载
                        <small>(235M)</small>
                    </a>
                </span>

        <div class="profile">
            <span>此文件分享于2014-09-01 12:23:34</span>
            <span class="bar">|</span>
            <span class="vcnt">1次浏览</span>
            <span class="dcnt">0次下载</span>
            <span class="tcnt">0次保存</span>
        </div>
    </div>
    <div class="btn-container">
        <div class="select-btn current"></div>
        <button class="dow-btn">下载</button>
    </div>
</div>